language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install pytest
  - pip install -r requirements.txt
# command to run tests
#script:
#  - pytest

before_deploy:
  - make
  - mv dist/lambda.zip dist/latest.zip
  - cp dist/latest.zip dist/$TRAVIS_COMMIT.zip
  